@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

:root {
    --color_background: #ffffff;
    --color_leter: #000000;
    --color_leter_gray: #808080;
    --color_border: #00000028;
    --color_shadow: #00000036;
    --color_modal-background: #0000004d;
}

html, body {
    background-color: var(--color_background);
    width: 100vw;
    height: 100vh;
    min-height: 560px;
}

/*header------------------------------------------*/

header {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: flex-end;
    width: 100vw;
    height: 100px;
    margin-bottom: 20px;
}

nav{
    margin-right: 15px;
}

.close_container {
    display: none;
}

span.menu {
    display: none;
}

ul {
    overflow: hidden;
}

li {
    float: left;
    padding: 15px;
}

li a {
    display: block;
    position: relative;
    color: var(--color_leter);
    font-size: 1.1em;
    font-weight: 600;
    padding: 0.2em 0;
    overflow: hidden;
}

li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: currentColor;
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
  transition: opacity 300ms, transform 300ms;
}
  
li a:hover::after, li a:focus::after{
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

/*Main------------------------------------*/

/*home*/

section article {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 1100px;
    margin: auto;
}

#home_title {
    margin-bottom: 20px;
    border-bottom: 2px solid var(--color_border);
}

section article h1 {
    font-size: 3em;
}

section article h2 {
    text-indent: 5%;
    font-size: 1.5em;
}

section article p {
    position: absolute;
    max-width: 1100px;
    font-size: 1.1em;
    margin-top: 30px;
    margin-bottom: 15px;
    opacity: 0;
    pointer-events: none;
    text-align: justify;
    transition: opacity .5s ease-out;
}

.social_media a {
    padding: 5px;
}

.social_media a img{
    width: 35px;
}



/*projetos------------------------*/

#projects {
    border-bottom: 2px solid var(--color_border);
    margin-bottom: 20px;
    transition: opacity .5s;
}

#buttons_container {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    gap: 20px;
    padding: 20px 0px;
}

.button {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 0px 3px 9px var(--color_shadow);
    cursor: pointer;
    transition: transform .2s ease-out;
}

.img_container {
    position: relative;
    overflow: hidden;
    height: 150px;
}

.img_container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120%;
    transition: width .5s ease-out, object-fit .2s ease-out;
}

.page-title {
    width: 100%;
    padding-left: 10px;
    margin: 20px 0px;
    color: var(--color_leter);
}

.button:hover {
    transform: translate(0px, -5px);
}

.button:hover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Modals-----------------------------------------------*/

.modal_container {
    background-color: var(--color_modal-background);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
}

.show_modal {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background-color: var(--color_background);
    border-radius: 10px;
    box-shadow: 0px 2px 4px var(--color_shadow);
    width: 1000px;
    height: 550px;
    max-height: 100%;
    max-width: 100%;
}

.left_content {
    overflow: hidden;
    width: 40%;
    box-shadow: 2px 0px 5px var(--color_shadow);
    transition: width .8s ease-in-out, background-position .8s ease-in-out;
}

.left_content:hover {
    width: 150%;
}

.google-modal {
    background: var(--color_background) url('../images/modal/google_page.png') center center no-repeat;
    background-size: cover;
}

.monster-modal {
    background: var(--color_background) url('../images/modal/hunter-note-page.png') center center no-repeat;
    background-size: cover;
}

.monster-modal:hover {
    background-position: left;
}

.login-modal {
    background: var(--color_background) url('../images/modal/tela-de-login.png') right center no-repeat;
    background-size: cover;
}

.login-modal:hover{
    background-position: left center;
}

.cordel-modal {
    background: var(--color_background) url('../images/modal/projeto-cordel-tela.png') center center no-repeat;
    background-size: cover;
}

.cordel-modal:hover {
    background-position: left;
}

.android-modal {
    background: var(--color_background) url('../images/modal/projeto-android-tela.png') center center no-repeat;
    background-size: cover;
}

.right_content {
    width: 60%;
    padding: 20px;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.close {
    display: flex;
    align-items: center;
    background-color: var(--color_background);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: box-shadow .2s ease-out;
}

.modal_close button.close {
    display: none;
}

.close:hover {
    box-shadow: 0px 0px 2px 1px var(--color_shadow);
}

.see_more {
    width: 100%;
    padding: 20px 0px;
}

.see_more a{
    display: flex;
    padding: 10px;
    width: 120px;
    border-radius: 50px;
    transition: width .3s ease-in-out, justify-content .3s ease-in-out, box-shadow .3s ease-in-out;
}

.see_more a:hover{
    width: 200px;
    justify-content: space-between;
    box-shadow: 1px 2px 3px var(--color_shadow);
}

.see_more span {
    text-indent: 10px;
}

.see_more a, span {
    color: var(--color_leter);
}

footer {
    display: none;
}

/*ativar/desativar*/

.show {
    position: static;
    opacity: 1;
    pointer-events: auto;
}

.section_deactive {
    position: fixed;
    opacity: 0;
    pointer-events: none;
}





/*------------------------------------Media Query---------------------------------------*/

/*----------------Estilo celular----------------*/

@media screen and (max-width: 600px) {
    *{
        transition: opacity .5s ease;
    }

    body {
        min-width: 300px;
    }

/*----------------Nav----------------*/
    
    header {
        height: 50px;
    }

    span.menu {
        cursor: pointer;
        display: block;
        font-size: 2em;
        margin-right: 20px;
    }

    nav {
        display: none;
        position: fixed;
        opacity: 0;
        pointer-events: none;
        width: 100vw;
        height: 100vh;
        margin: 0px;
        padding: 20px;
        margin: 0px;
        background-color: var(--color_background);
    }

    .nav_activate {
        opacity: 1;
        pointer-events: auto;
    }

    .close_container {
        display: flex;
        padding: 15px;
        justify-content: flex-end;
    }

    button.close_menu {
        display: flex;
        align-items: center;
        margin-right: 15px;
        background-color: var(--color_background);
        border: none;
        cursor: pointer;
    }

    button.close_menu > span {
        color: var(--color_leter_gray);
    }

    ul {
        margin: auto;
        width: 50%;
    }

    li {
        float: none;
        text-align: center;  
        margin-top: 50px;
        padding: 0px;
    }

    li a {
        font-weight: 700;
        padding: 10px;
        text-transform: uppercase;
        color: var(--color_leter_gray);
    }

    li a:focus {
        color: var(--color_leter);
    }

    /*-----------main------------*/

    .main_dactivate {
        display: none;
    }

    #home_title, #projects {
        border: none;
    }

    section article {
        padding: 15px;
    }

    section article p {
        border-left: 2px solid var(--color_border);
        margin: 0px;
        padding: 10px;
        font-size: 1.2em;
        text-align: left;
    }

    /*-----Projects------*/

    .button {
        display: block;
        width: 60%;
        margin: auto;
    }

    .img_container img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .button:hover img {
        object-fit: cover;
    }

    .google img {
        width: 60%;
    }
    
    .android img {
        width: 100%;
    }
    
    .button:hover > .google > img {
        width: 60%;
        object-fit: cover;
    }
    
    .button:hover > .android > img {
        width: 100%;
        object-fit: cover;
    }

    div#home_title, div#projects, article {
        margin-bottom: 0px;
        padding: 0px;
    }

    /*--------Footer---------*/

    .not_show {
        display: none;
    }

    footer {
        display: block;
        position: sticky;
        border-top: 2px solid var(--color_border);
        top: 100%;
        width: 100%;
        padding: 10px;
    }

    .social_footer {
        display: flex;
        justify-content: space-around;
    }

    /*--------modal-------------*/

    .modal_container {
        display: flex;
        flex-direction: column;
    }

    .modal {
        width: 80%;
        flex-direction: column;
    }

    .left_content {
        width: 100%;
        height: 300px;
    }

    .left_content:hover {
        width: 100%;
        background-position: none;
    }

    .monster-modal {
        background: var(--color_background) url('../images/modal-cel/hunters-note.png') center center no-repeat;
        background-size: cover;
    }

    .monster-modal:hover {
        background-position: center center;
    }

    .login-modal {
        background-position: left center;
    }

    .login-modal:hover{
        background-position: left center;
    }

    .cordel-modal {
        background-position: left center;
    }

    .cordel-modal:hover {
        background-position: left center;
    }

    .right_content {
        width: 100%;
    }

    button.close {
        display: none;
    }

    .modal_close {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-bottom: 20px;
    }

    .modal_close button.close {
        display: flex;
        justify-content: center;
        margin-right: 30px;
    }
}

/*----------------Estilo tablet----------------*/

@media screen and (max-width: 992px) {
    #home_title, #projects {
        border: none;
    }
    
    section article {
        padding: 15px;
    }

    section article p {
        border-left: 2px solid var(--color_border);
        margin: 0px;
        padding: 10px;
        font-size: 1.2em;
        text-align: left;
    }

    .not_show {
        display: none;
    }

    .modal {
        width: 80%;
    }

    footer {
        display: block;
        position: sticky;
        border-top: 2px solid var(--color_border);
        top: 100%;
        width: 100%;
        padding: 10px;
    }

    .social_footer {
        display: flex;
        justify-content: space-around;
    }
}

/*----------------desativando hover em dispositivos touch----------------*/

@media (hover: none) and (pointer: coarse) {
    body {
        -webkit-tap-highlight-color: transparent;
    }

    .button:hover {
        transform: none;
    }
    .see_more a{
        justify-content: flex-start;
    }
    .see_more a:hover{
        width: 120px;
        justify-content: flex-start;
        box-shadow: none;
    }
}